.h11{
    width: 59%;
    height: 8%;
    padding-top: 2px;
    
  
    position: absolute;
    top: 190px;
    
  
    background: rgb(255, 102, 46);
    
  }
h1.h1{
  color:white;
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}
  .bluee{
    width: 59%;
    padding-top: 10px;
    position: absolute;
    z-index: 99999;
    top: 250px;
    color:white;
    background: #1a2537;
    text-align: center;
  }
  
  
  p.centrado {
    text-align: center;
  
  }
  .imga{
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 0px;
    padding: 0px;
  }
  
  #cameBody body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
  
  }
  * {
    box-sizing: border-box;
  
  }
  p.pp {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
   
  }
  button {
    text-align: center;
  }
  .contenedor {
    width: 100%;
    padding: 10px;
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 70px;
    margin-left: 70px;
  }
  .formulario1{
    background: wheat;
    margin-top: 130px;
    padding: 3px;
    height: 400px;
    margin: 50px auto;
  }
  
  input[type="text"].text,
  input[type="password"]{
    font-size: 15px;
    width: 80%;
    padding: 12px;
    border:none;
  }
  .input-contenedores{
    margin-bottom: 10px;
    border: 1px solid #aaa;
  }
  .icone{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0px;
    
    color:#999;
  }
  a.buttonn{
    text-align: center;
    border: none;
    width: 100%;
    color:white;
    font-size: 15px;
    background:rgb(255, 117, 66);
    padding: 10px 112px;
    border-radius:7px;
    cursor:pointer;
    padding-top: 7px;
    text-decoration: none;
    margin-left: 8px;
    margin-top: 1000px;
  }
  
  a.buttonn:haver{
    background: cadetblue;
  
  }
  .link{
    text-decoration: none;
    color:rgb(255, 102, 46);
    font-weight: 600px;
  }
  .link:haver{
    color:cadetblue;
  }
  
  @media(min-width:768px)
  {
    .formulario1{
        margin:20%;
        margin-top:50px;
        border-radius: 2%;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        align-content: stretch;
        justify-content: flex-end;
        overflow: hidden;
    }
  }
  /*Agregando carcateristicas de button Valentina*/
  #button {
    text-decoration: none;
  }
  