

   .tabla td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-spacing: 30px;
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    background: rgb(255, 126, 80);
    
    
   }
   
   body{
       font-family: Arial, Helvetica, sans-serif;
       margin: 0;
       background: url();
       background-size: cover;
       background-attachment: fixed;
       
   }
   *{
       box-sizing: border-box;
   }
  .input-contenedor{
      background:#fff;
      margin-top: 100px;
      padding: 3px;
      margin-bottom: 15px;
  }
  .p{
      text-align: left;
      font-size: 30px;
      padding-bottom:0ch;
font-family: Arial, Helvetica, sans-serif;
       
  }
  .encabezado{
      margin-top: 0px;
      padding-top: 0px;
  }
 
  .iconn{
    min-width: 20px;
      text-align: center;
      color: rgb(255, 255, 255);
    
      
  }
/*
  .botton{
    border: none;
    width: 70px;
    height: 30px;
    background-color: rgba(255, 97, 40, 0.932);
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    z-index: 100;

}
.botton:hover {
    background: rgba(245, 142, 105, 0.849);
}
*/
.link{
    text-decoration: none;
}
.button{
    text-decoration: none;
}
@media(min-width: 768px)
{
    .input-contenedor{
        margin: auto;
        margin-left: 20px;
        margin-top: 60px;
        border-radius: 4%;

    }
}
h1.h111 {
    border: 1px solid rgb(255, 102, 46);
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-size: 22px;
    background: rgb(255, 102, 46);
    color: rgb(255, 255, 255);
    margin:0px;
    

}

/* menu */
/*
#menu ul {
    list-style:none;
    padding-left: 10px;
    padding:0;
    overflow: visible;
    margin:0px;
    background-color: #2e518b;
    padding-right: 500px;
   }
   
   /* items del menu */
  /* 
   #menu ul li {
    background-color:#2e518b;
    
   }
   
   /* enlaces del menu */
  /* 
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:16px;
    font-family:Arial, Helvetica, sans-serif;
    
    letter-spacing:1px;
   }
   
   /* items del menu */
  /* 
   #menu ul li {
    position:relative;
    
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
  /* 
   #menu ul li:hover {
    background:#5b78a7;
   }

/* menu desplegable */
/*
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    
    background:#5b78a7;
    padding:0;
   }
   
   /* items del menu desplegable */
  /* 
   #menu ul ul li {
    float:none;
    width:230px
   }
   
    
   /* enlaces de los items del menu desplegable */
   /*
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   /*
   #menu ul li:hover > ul {
    display:block;
   }
   */
.imagen{
    
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position:absolute;

    margin-top: 210px;
    margin-left: 840px;
}
.footer{
    margin: 0;
    padding:0;
}
.redes{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.055);
    margin: 0;
    padding: 0;
    
}
.cont1{
    margin: 50px 50px 15px 50px;
    padding-top: 15px;
    
}
 

#t1{
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.644);
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    font-size: 15px;
    margin: 5px 0px 0px 3px;
}
.icon1{
    padding-top: 18px;
    text-align: center;
    padding-left: 300px;
      
}
.icon3{
    
    text-align: center;
    font-size: 50px;
    color: rgb(141, 140, 140);
    margin-right: 100px;
    margin-left: 40px;
    
      
}
.icon4{
    
    text-align: center;
    font-size: 50px;
    color: rgb(141, 140, 140);
    margin-right: 100px;
    margin-left: 51px;
    
      
}
.icon5{
    
    text-align: center;
    font-size: 50px;
    color: rgb(141, 140, 140);
    margin-right: 100px;
    margin-left: 62px;
    
      
}

